body {
    background-color: gray;
}
img {
    width: 50%;
}
.xbox {
    background-color: #495259;
}
.ps4 {
    background-color: #97398D;
}
.Ordinateur {
    background-color: #070707;
}
p {
    color: white;
}
naV {
    background-color: black;
}
.encadres {
    background-color: #0C1D39;
}
.citation {
    background-color: #0C1D39;
}